<main class="container">
    <div class="row">
        <div class="col-md-12 text-center">
          <img src="assets/images/logo.webp" class="img-fluid logo" alt="">
        </div>
        <div class="col-md-12 pb-5 pt-2">
            <ul class="nav nav-tabs nav-pills nav-justified mt-4" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="personajes-tab" data-toggle="tab" href="#personajes" role="tab" aria-controls="personajes" aria-selected="true">Personajes</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="estudiantes-tab" data-toggle="tab" href="#estudiantes" role="tab" aria-controls="estudiantes" aria-selected="false">Estudiantes</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="profesores-tab" data-toggle="tab" href="#profesores" role="tab" aria-controls="profesores" aria-selected="false">Profesores</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="personajes" role="tabpanel" aria-labelledby="personajes-tab">
                   <app-house></app-house>
                </div>
                <div class="tab-pane fade" id="estudiantes" role="tabpanel" aria-labelledby="estudiantes-tab">
                  <app-students></app-students>
                </div>
                <div class="tab-pane fade" id="profesores" role="tabpanel" aria-labelledby="profesores-tab">
                   <app-staff></app-staff>
                </div>
            </div>
        </div>
    </div>
</main>
